# MAC OS
.DS_Store

node_modules

help
Adalicious-Kata5.pdf
adalicious_mockup.png
adalicious-SQL-dishes-orders.png
help.md

old
old-menu.html
old-menujson.js
old-script.js
script_old.js
script-encours-comments.js



.env
/generated/prisma
